.half {
	width: 50%;
}
.btn-1 {
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    width: 50%;
    height: 70px;
    color: #00b894;
    background: #fff;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    border: 4px double #00b894;
    border-radius: 100px;
    box-shadow: 4px 4px 15px rgba(0,0,0,0.1);
}

.btn-1:active {
    top: 2px;
}

.btn-1:hover {
    box-shadow: none;
}
